.header {
    height: 500px;
    width: 500px;
    background-color: green;
    position: relative;
}

.mini {
    height: 100px;
    width: 100px;
    background-color: hotpink;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.sub-mini {
    font-size: larger;
    color: indigo;
    background-color: ivory;
}